apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: weather-api
  template:
    metadata:
      labels:
        app: weather-api
    spec:
      containers:
        - name: weather-api
          image: yourdockerhub/weather-api:__TAG__
          ports:
            - containerPort: 8000
          env:
          - name: ASPNETCORE_URLS
            value: http://+:80
